# GPT-2 weights
gpt2/
# Ignore all generated artifacts
ignored/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Optional safety fallback
*.pth
*.pt
*.ckpt
*.bin
*.csv
*.zip