# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model weights and checkpoints
*.pth
*.pt
*.ckpt
*.bin

# Downloaded GPT-2 weights
gpt2/124M/

# SMS Spam dataset
sms_spam_collection.zip
sms_spam_collection/

# Dataset files
*.csv
train.csv
test.csv
validation.csv
data/

# OS files
.DS_Store
Thumbs.db

# other
temperature-plot
4.66
accuracy-plot
instruction-dataset.jsonl